go 1.25.0

toolchain go1.25.10

use (
	./pkg/draftalgo
	./pkg/logparse
	./services/bff
	./services/collection-agent-helper
	./services/contract
	./services/daemon
	./services/meta-scrape
	./services/sync
)
